{% extends 'base.html' %}

{% block title %}Задача {{ object.id }}{% endblock %}

{% block main_content %}
    <h1>Задача</h1>
    <p><b>Описание</b>: {{ object }}</p>
    <ul>
        <li>
            {% if object.is_completed %}
            Задача Выполнена
            {% else %}
            Задаче еще не выполнена
            {% endif %}
        </li>
        <li>
            <i class="far fa-calendar-alt"></i>&nbsp;
            Создана: {{ object.created | date:"Y-b-d H:i"}}
        </li>
        <li>
            <i class="far fa-clock"></i>&nbsp;
            {% if object.created != object.updated %}
            Последнее изменение: {{ object.updated | date:"Y-b-d H:i"}}
            {% else %}
            Изменеий не производилось
            {% endif %}
        </li>
        <li>
            <i class="far fa-edit"></i>&nbsp;<a href="{% url 'tasks:edit' pk=object.pk %}">Редактировать</a>
        </li>
    </ul>
    <i class="fas fa-clipboard-list"></i>
    <a href="{% url 'tasks:list' %}">Назад к списку задач</a>
{% endblock %}
